<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    Venados Test
  </title>

  <!-- base css -->
  <link rel="stylesheet" media="screen, print" href="lib/smartAdmin/css/vendors.bundle.css">
  <link rel="stylesheet" media="screen, print" href="lib/smartAdmin/css/app.bundle.css">

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/locale/es.js"></script>
  
  <!-- angularJs -->
  <script type="text/javascript" src="lib/angular-1.4.2/angular.js"></script>
  <script type="text/javascript" src="lib/angular-1.4.2/angular.min.js"></script>
  <script type="text/javascript" src="lib/angular-1.4.2/angular-resource.js"></script>
  <script type="text/javascript" src="lib/angular-1.4.2/angular-resource.min.js"></script>
  <script type="text/javascript" src="lib/angular-1.4.2/angular-route.js"></script>
  <script type="text/javascript" src="lib/angular-1.4.2/angular-route.min.js"></script>
  <script type="text/javascript" src="lib/angular-1.4.2/angular-sanitize.js"></script>
  <script type="text/javascript" src="lib/angular-1.4.2/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="lib/angular-1.4.2/angular-touch.min.js"></script>

  <!--servicio js-->
  <script src="js/venadoService.js"></script>

  <!--archivo js-->
  <script type="text/javascript" src="indexVenados.js"></script>
  
  <style>
	.buttonCopa {
		background-color: white;
		color: black;
		border: 2px solid #e7e7e7;
		padding: 24px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		cursor: pointer;
	}
	
	.div_hover { 
		color: #3193A0; 
		border: 2px solid #3193A0;
	}
	
	.p-img {
		margin-top: 50px;
		padding-left: 160px !important;
	}
  </style>


</head>
<body class="mod-bg-12" ng-app="modVenadoTest" ng-controller="VenadoTestCtrl" ng-init="inicio(true)">
<script>
    /**
     *	This script should be placed right after the body tag for fast execution
     *	Note: the script is written in pure javascript and does not depend on thirdparty library
     **/
    'use strict';

    var classHolder = document.getElementsByTagName("BODY")[0],
        /**
         * Load from localstorage
         **/
        themeSettings = (localStorage.getItem('themeSettings')) ? JSON.parse(localStorage.getItem('themeSettings')) :
            {},
        themeURL = themeSettings.themeURL || '',
        themeOptions = themeSettings.themeOptions || '';
    /**
     * Load theme options
     **/
    if (themeSettings.themeOptions) {
        classHolder.className = themeSettings.themeOptions;
    } else {}
    if (themeSettings.themeURL && !document.getElementById('mytheme')) {
        var cssfile = document.createElement('link');
        cssfile.id = 'mytheme';
        cssfile.rel = 'stylesheet';
        cssfile.href = themeURL;
        document.getElementsByTagName('head')[0].appendChild(cssfile);
    }
    /**
     * Save to localstorage
     **/
    var saveSettings = function() {
        themeSettings.themeOptions = String(classHolder.className).split(/[^\w-]+/).filter(function(item) {
            return /^(nav|header|mod|display)-/i.test(item);
        }).join(' ');
        if (document.getElementById('mytheme')) {
            themeSettings.themeURL = document.getElementById('mytheme').getAttribute("href");
        };
        localStorage.setItem('themeSettings', JSON.stringify(themeSettings));
    }
    /**
     * Reset settings
     **/
    var resetSettings = function() {
        localStorage.setItem("themeSettings", "");
    }

</script>

<div class="page-wrapper">
  <div class="page-inner">
    <aside class="page-sidebar">
      <!-- BEGIN PRIMARY NAVIGATION -->
      <nav id="js-primary-nav" class="primary-nav" role="navigation">
        <div class="info-card">
          <img src="imagenes/venados.png" class="profile-image rounded-circle" alt="Venados F.C.">
          <div class="info-card-text">
            <a class="d-flex align-items-center text-white" title="Venados F.C.">
                <span class="text-truncate text-truncate-sm d-inline-block">
                   Venados F.C.
                </span>
            </a>
          </div>
          <img src="imagenes/fondo.jpg" style="width: 270px; height: 160px;" class="cover" alt="cover">
        </div>
        <ul id="js-nav-menu" class="nav-menu">
          <li ng-click="inicio(true)">
            <a href="" title="Home">
              <i class="ni ni-home"></i>
              <span class="nav-link-text">Home</span>
            </a>
          </li>
          <li ng-click="obtenerEstadisticas()">
            <a href="" title="Estadísticas" data-filter-tags="theme settings">
              <i class="ni ni-graph"></i>
              <span class="nav-link-text" data-i18n="nav.theme_settings">Estadísticas</span>
            </a>
          </li>
          <li ng-click="obtenerJugadres()">
            <a href="" title="Jugadores" data-filter-tags="package info">
              <i class="ni ni-social-dribbble"></i>
              <span class="nav-link-text" data-i18n="nav.package_info">Jugadores</span>
            </a>
          </li>
        </ul>
        <div class="filter-message js-filter-message bg-success-600"></div>
      </nav>
	</aside>

    <div class="page-content-wrapper">
        <header class="page-header" role="banner">
            <!-- DOC: nav menu layout change shortcut -->
            <div class="hidden-md-down dropdown-icon-menu position-relative">
              <a href="" class="header-btn btn js-waves-off" data-action="toggle" data-class="nav-function-hidden" title="Ocultar Menù">
                <i class="ni ni-menu"></i>
              </a>
              <ul>
                <li>
                  <a href="" class="btn js-waves-off" data-action="toggle" data-class="nav-function-minify" title="Minimisar Menù">
                    <i class="ni ni-minify-nav"></i>
                  </a>
                </li>
                <li>
                  <a href="" class="btn js-waves-off" data-action="toggle" data-class="nav-function-fixed" title="Bloquear Menù">
                    <i class="ni ni-lock-nav"></i>
                  </a>
                </li>
              </ul>
            </div>
            <!-- DOC: mobile button appears during mobile width -->
            <div class="hidden-lg-up">
              <a href="" class="header-btn btn press-scale-down" data-action="toggle" data-class="mobile-nav-on">
                <i class="ni ni-menu"></i>
              </a>
            </div>
			<h1 ng-bind="tituloNombre"></h1>
			
			<div class="ml-auto d-flex">
				<!-- notification -->
                <div>
                    <a class="header-icon" data-toggle="dropdown" title="You got 11 notifications">
                        <i class="fal fa-bell"></i>
                        <span class="badge badge-icon" ng-bind ="listaNotificacines.length"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-animated dropdown-xl">
                        <div class="dropdown-header bg-trans-gradient d-flex justify-content-center align-items-center rounded-top mb-2">
                            <h4 class="m-0 text-center color-white">
                                Notificacines
                           </h4>
                        </div>
                        <ul class="nav nav-tabs nav-tabs-clean" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link px-4 fs-md js-waves-on fw-500" data-toggle="tab" href="#tab-messages" data-i18n="drpdwn.messages">Mensages</a>
                            </li>
                        </ul>
                        <div class="tab-content tab-notification">
                            <div class="tab-pane active" id="tab-messages" role="tabpanel">
                                <div class="custom-scroll h-100">
                                    <ul class="notification">
                                        <li class="unread" ng-repeat="notificacion in listaNotificacines">
                                            <a href="" class="d-flex align-items-center">
                                                <span class="profile-image rounded-circle d-inline-block"><i class="ni ni-user fa-4x"></i></span>
                                                <span class="d-flex flex-column flex-1 ml-1">
                                                <span class="msg-b fs-xs">{{notificacion.message}}</span>
                                                <span class="fs-nano text-muted mt-1">56 seconds ago</span>
                                                </span>
                                            </a>
                                        </li>		
                                    </ul>
                                </div>
                            </div>	
                        </div>
                        <div class="py-2 px-3 bg-faded d-block rounded-bottom text-right border-faded border-bottom-0 border-right-0 border-left-0">
                        </div>
                    </div>
                </div>
			</div>
          </header>
          <main role="main" class="page-content">
			<div class="row" ng-if="mostrarInicio">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12 text-center buttonCopa" ng-click="inicio(banderaConsulta)">
							<img src="imagenes/venados.png" style="width: 300px; height: 200px;" title="Venados F.C." class="text-center">
						</div>
					</div>
					<div class="row">
						<div id="btnCopaMx" class="col-md-6 text-center buttonCopa" ng-click="inicio(true)">
							<h1>COPA MX</h1>
						</div>
						<div id="btnAsensoMx" class="col-md-6 text-center buttonCopa" ng-click="inicio(false)">
							<h1>ASCENSO MX</h1>
						</div>
					</div>
					<div ng-repeat="agrupadorMes in listaCopaMx">
						<div class="row" style="height: 40px; background-color: #666666;">
							<div class="col-md-12" style="color:white;">
								<h1 ng-bind="agrupadorMes.agrupador"></h1>
							</div>
						</div>
						<div class="row" ng-repeat="equipo in agrupadorMes.listaCopaMx" style="height: 300px; background-color: #38B13A;">
							<div class="col-md-3 text-center" style="margin-top: 105px; color:white;">
								<div class="fal fa-calendar-alt fa-4x"></div>
								<h1 ng-bind="diaMes(equipo.datetime)"></h1>
							</div>
							<div class="col-md-3 text-center" style="margin-top: 70px; color:white;">
								<div>
									<img ng-src="{{equipo.image}}" style="width: 150px; height: 150px;" class="cover" alt="cover"/>
								</div>
								<h1 ng-bind="equipo.league"></h1>
							</div>
							<div class="col-md-3 text-center fa-6x" style="margin-top: 90px; color:white;">
								<p>{{equipo.home_score}} - {{equipo.away_score}}</p>
							</div>
							<div class="col-md-3 text-center" style="margin-top: 70px; color:white;">
								<div>
									<img ng-src="{{equipo.opponent_image}}" style="width: 150px; height: 150px;" class="cover" alt="cover"/>
								</div>
								<h1 ng-bind="equipo.opponent"></h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-if="mostrarEstadistica">
				<div class="col-md-12">
					<div class="row" style="height: 40px; background-color: #666666;">
						<div class="col-md-9" style="color:white;">
							<h1><strong>Tabla General</strong></h1>
						</div>
						<div class="col-md-1" style="color:white;">
							<h1>JJ</h1>
						</div>
						<div class="col-md-1" style="color:white;">
							<h1>DG</h1>
						</div>
						<div class="col-md-1" style="color:white;">
							<h1>PTS</h1>
						</div>
					</div>
					<div class="row" ng-repeat="estadistica in listaEstadisticas" style="height: 300px; background-color: #38B13A;">
						<div class="col-md-1 text-right fa-4x" style="margin-top: 90px; color:white;">
							<p ng-bind="estadistica.numero"></p>
						</div>
						<div class="col-md-3 text-center" style="margin-top: 70px; color:white;">
							<div>
								<img ng-src="{{estadistica.imagen}}" style="width: 150px; height: 150px;" class="cover" alt="cover"/>
							</div>
						</div>
						<div class="col-md-5 fa-4x" style="margin-top: 90px; color:white;">
							<p ng-bind="estadistica.equipo"></p>
						</div>
						<div class="col-md-1 fa-4x" style="margin-top: 90px; color:white;">
							<p ng-bind="estadistica.juegoJugado"></p>
						</div>
						<div class="col-md-1 fa-4x" style="margin-top: 90px; color:white;">
							<p ng-bind="estadistica.goles"></p>
						</div>
						<div class="col-md-1 fa-4x" style="margin-top: 90px; color:white;">
							<p ng-bind="estadistica.puntos"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-if="mostrarJugador">
				<div class="col-md-12">
					<ul class="app-list w-auto h-auto p-0 text-center" style="height: 40px; background-color: #38B13A;">
						<li class="app-list w-auto h-auto p-0 text-center" ng-repeat="portero in jugadores.listPorteros" ng-click="verDetalleJugador(portero)">
							<div class="text-center" style="width: 250px; height: 280px;">
								<img ng-src="{{portero.image}}" class="rounded-circle shadow-2 img-thumbnail" alt="" 
									style="width: 136px; height: 125px; margin-top: 60px;" data-toggle="modal" data-target="#modalDetalle"/>
								<span>
									<h1 style="color: white;">{{portero.position}}</h1>
									<h4 style="color: white;">{{portero.name}}</h4>
								</span>
							</div>
						</li>
					</ul>
					<ul class="app-list w-auto h-auto p-0 text-center" style="height: 40px; background-color: #38B13A;">
						<li class="app-list w-auto h-auto p-0 text-center" ng-repeat="defensa in jugadores.listDefensas" ng-click="verDetalleJugador(defensa)">
							<div class="text-center" style="width: 250px; height: 280px;">
								<img ng-src="{{defensa.image}}" class="rounded-circle shadow-2 img-thumbnail" alt="" 
									style="width: 136px; height: 125px; margin-top: 60px;" data-toggle="modal" data-target="#modalDetalle"/>
								<span>
									<h1 style="color: white;">{{defensa.position}}</h1>
									<h4 style="color: white;">{{defensa.name}}</h4>
								</span>
							</div>
						</li>
					</ul>
					<ul class="app-list w-auto h-auto p-0 text-center" style="height: 40px; background-color: #38B13A;">
						<li class="app-list w-auto h-auto p-0 text-center" ng-repeat="centro in jugadores.listCenter" ng-click="verDetalleJugador(centro)">
							<div class="text-center" style="width: 250px; height: 280px;">
								<img ng-src="{{centro.image}}" class="rounded-circle shadow-2 img-thumbnail" alt="" 
									style="width: 136px; height: 125px; margin-top: 60px;" data-toggle="modal" data-target="#modalDetalle"/>
								<span>
									<h1 style="color: white;">{{centro.position}}</h1>
									<h4 style="color: white;">{{centro.name}}</h4>
								</span>
							</div>
						</li>
					</ul>
					<ul class="app-list w-auto h-auto p-0 text-center" style="height: 40px; background-color: #38B13A;">
						<li class="app-list w-auto h-auto p-0 text-center" ng-repeat="delantero in jugadores.listDelanteros" ng-click="verDetalleJugador(delantero)">
							<div class="text-center" style="width: 250px; height: 280px;">
								<img ng-src="{{delantero.image}}" class="rounded-circle shadow-2 img-thumbnail" alt="" 
									style="width: 136px; height: 125px; margin-top: 60px;" data-toggle="modal" data-target="#modalDetalle"/>
								<span>
									<h1 style="color: white;">{{delantero.position}}</h1>
									<h4 style="color: white;">{{delantero.name}}</h4>
								</span>
							</div>
						</li>
					</ul>
					
				</div>
			</div>
          </main>
          <div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div>
          <footer class="page-footer" role="contentinfo">
              <div class="d-flex align-items-center flex-1 text-muted">
                  <span class="hidden-md-down fw-700">2019 © <a href="https://www.venadosfc.com.mx/" class='text-primary fw-500' title='www.venadosfc.com.mx' target="_blank">www.venadosfc.com.mx</a></span>
              </div>
			  <div>
				<ul class="list-table m-0">
					<li class="pl-3">
						<span class="hidden-md-down fw-700">Autor: <a class='text-primary fw-500' title='Autor'>Carlos Mario López Rodriguez</a></span>
					</li>
				</ul>
			  </div>
          </footer>
      </div>
	</div>
</div>

<div class="modal fade" tabindex="-1" id="modalDetalle" role="dialog" aria-hidden="true"data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-dialog-center">
		<div class="modal-content h-100">
			<div class="dropdown-header bg-trans-gradient d-flex align-items-center w-100">
				<div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
					<h1>FICHA TÈCNICA</h1>
				</div>
				<button type="button" class="close text-white position-absolute pos-top pos-right p-2 m-1 mr-2" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						<li class="fal fa-times"></li>
					</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4">
					<img ng-src="{{jugador.image}}" class="rounded-circle shadow-2 img-thumbnail" alt="" style="width: 136px; height: 125px;">
					</div>
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-3">
								<b>Nombre:</b>
							</div>
							<div class="col-md-9">{{jugador.name}} {{jugador.first_surname}} {{jugador.second_surname}}</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<b>Posiciòn:</b>
							</div>
							<div class="col-md-9" ng-bind="jugador.position"></div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<b>Fecha de Nacimiento:</b>
							</div>
							<div class="col-md-6" ng-bind="fechaNacimiento"></div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<b>Lugar de Nacimiento:</b>
							</div>
							<div class="col-md-6" ng-bind="jugador.birth_place"></div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<b>Peso:</b>
							</div>
							<div class="col-md-4">
								{{jugador.weight}} KG
							</div>
							<div class="col-md-2">
								<b>Altura:</b>
							</div>
							<div class="col-md-4">
								{{jugador.height}} M
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="py-2 px-3 bg-faded d-block rounded-bottom text-right border-faded border-bottom-0 border-right-0 border-left-0">
				<button type="button" class="btn btn-primary right" data-dismiss="modal" aria-label="Close">
					Cerrar
				</button>
			</div>
		
		</div>
    </div>
</div>

<script type="text/javascript" src="lib/smartAdmin/js/vendors.bundle.js"></script>
<script type="text/javascript" src="lib/smartAdmin/js/app.bundle.js"></script>
</body>
</html>